@import "../../../ItemCards/_ListCard";

.fg-results__item-list {

}

.fg-results__item-grid {
    display: flex;
    flex-wrap: wrap;
}

.fg-results__no-items-container {
    position: relative;
    text-align: center;
    width: 100%;
}

.fg-results__no-items-centered {
    display: inline-block;
    max-width: 35em;
}
