@import "../../../ItemCards/_ListCard";

.fg-results__item-list {
    & > :first-child {
        @include leader(0.25);
    }

    & > :last-child {
        @include trailer(2);
    }
}

.fg-results__no-items-container {
    position: relative;
    text-align: center;
    width: 100%;
}

.fg-results__no-items-centered {
    display: inline-block;
    max-width: 35em;
}
