@import "_utils/_base/index";
@import "_utils/_calcite/index";
@include type-styles();
@include form();

body {
    margin: 0;
    overflow-y: scroll;
}

table {
    @include table();
}

.fg__no-js {
    box-sizing: border-box;
    height: 95vh;
    margin: 0;
    padding: 2rem;
    position: relative;
    width: 100%;
}

.fg__no-js-text {
    @include center();
    max-width: 600px;
    text-align: center;
}

@import "Badges/_Authoritative";
@import "Badges/_Badge";
@import "Badges/_Deprecated";
@import "Badges/_LivingAtlas";
@import "Badges/_Premium";
@import "Badges/_Subscriber";
@import "Buttons/_CheckToggle";
@import "Buttons/_FilterChip";
@import "Buttons/_IconButton";
@import "Buttons/_SvgButton";
@import "Buttons/_Toggle";
@import "DateSelection/_DatePicker";
@import "DateSelection/DateRangeSelector/_index";
@import "Dropdowns/AccordionDropdown";
@import "Dropdowns/Ago2018Dropdown";
@import "Dropdowns/BasicDropdown";
@import "Dropdowns/FilterController";
@import "Dropdowns/SortDropdown";
@import "Dropdowns/TextOptionDropdown";
@import "Dropdowns/ViewDropdown";
@import "FilterGallery/_index";
@import "Filters/CategoriesFilter";
@import "Filters/CreatedFilter";
@import "Filters/ItemTypeFilter";
@import "Filters/ModifiedFilter";
@import "Filters/SharedFilter";
@import "Filters/StatusFilter";
@import "Filters/TagsFilter";
@import "ItemCards/ListCard";
@import "ItemCards/GridCard";
@import "Loaders/LoaderBars";
@import "Modals/MobileWrap";
@import "Modals/Overlay";
@import "Navigation/Pager";
